html {
	font-size : (100 / 16 ) * ($basefontsize / 1px) + 0%;
	line-height: $baselineheight / $basefontsize;
	-webkit-overflow-scrolling : touch;
	-webkit-tap-highlight-color : rgba(255,255,255,0);
	-webkit-text-size-adjust : 100%;
	-ms-text-size-adjust : 100%;
}

h1,h2,h3,h4,h5,h6,p,a,li,.three-column {
	-webkit-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased; /* causes ant-alias on transformed elements */
}

h1,h2,h3,h4,h5,h6 {
	color: $headcolor;
	text-transform: uppercase;
	font-weight: 400;
	font-size: normal;
}

p {
	color: $textcolor;
}