$basefont: 				'Open Sans', sans-serif;
$altfont: 				serif;
$basefontsize: 			15px;
$baselineheight:		24px;

$textcolor: 			#82bc00;
$headcolor:				#f38b00;

$selectioncolor:		#95C11F;
$selectiontextcolor:	#ffffff;

$promotextlinkcolor:	#ffffff;
$promohoverlinkcolor:	#ffffff;

/* ===== MENU ====== */

$menubgcolor: 			#82bc00;
$menubordercolor: 		#ffffff;
$menutextcolor:			#ffffff;
$menuhover:				#A8D04D;
$menuselected:			#CCE398;
$menutextshadow:		#789f46;
$menuhovertoggled:		#95C11F;

/* ===== BUTTON ===== */

$buttoncolor:			#82bc00;
$buttontextcolor:		#ffffff;
$buttonhover:			#A8D04D;
$buttontextshadow:		#789f46;
$buttonhovertoggled:	#95C11F;

/* ===== PROMO ===== */
$promobgcolor:			#f38b00;
$promocolor:			#ffffff;

/* ===== ANIMATION ====== */

$duration:				300ms;
$ease:					ease-in-out;
$nav-color:				#000000;
$nav-color-active:		#ffffff;